.overlay
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    p
        position: absolute
        top: 66px
        left: 0
        bottom: 0
        right: 0
        margin: auto
        color: white
        font-size: 24px
        font-weight: bold

.selected
    background-color: rgba(yellow, 0.2)

.built
    background-color: rgba(#4f2626, 0.8)