.entrance
    width: 100vw
    height: 100vh
    position: relative
    div
        padding: 8px
        position: absolute
        width: 600px
        height: 400px
        top: 0
        left: 0
        bottom: 0
        right: 0
        margin: auto
        border-radius: 8px
        border: 1px solid black
        text-align: center

        table
            display: block
            margin: 0 auto

        tr
            >:first-child
                width: 120px
                text-align: left
            >:last-child
                width: 400px

        p
            color: red