.entrance
    width: 100vw
    height: 100vh
    position: relative
    div
        padding: 8px
        position: absolute
        width: 400px
        height: 200px
        top: 0
        left: 0
        bottom: 0
        right: 0
        margin: auto
        border-radius: 8px
        border: 1px solid black
        text-align: center

        p
            color: red