.worker
    display: inline-block
    position: relative
    width: 40px
    height: 40px
    border-radius: 8px
    border: 2px solid black
    img
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
        max-width: 40px
        height: 40px
        margin: auto

.red
    background-color: #ffd9d9
.blue
    background-color: #d9f0ff
.orange
    background-color: #fff2d9
.purple
    background-color: #fad9ff