.cards
    h2  
        font-size: 20px
        font-weight: bold

    >ul
        margin-bottom: -8px
        min-height: 168px
        >*
            margin-bottom: 8px

    >header
        display: -webkit-flex
        p
            margin-left: 24px
            font-size: 18px
            font-weight: bold
            color: red

        button
            width: 100px
            margin-left: 24px
            font-weight: bold

.public
    overflow-x: hidden
    overflow-y: visible