.cards
    overflow-x: scroll
    overflow-y: hidden

    h2  
        font-size: 20px
        font-weight: bold

    >ul
        margin-bottom: -8px
        >*
            margin-bottom: 8px

.public
    overflow-x: hidden
    overflow-y: visible