.environment
    h2
        display: -webkit-flex
        font-size: 20px
        font-weight: bold

        p
            border: 1px solid blue
            border-radius: 10px
            padding: 2px 8px
            button
                vertical-align: middle
                margin-left: 4px

        p:not(:last-child)
            margin-right: 16px

        .wage
            margin-right: 4px
            color: lightgray 
        .currentwage
            color: red