.mystatus
    div
        display: -webkit-flex

        p
            padding: 4px
            border: 1px solid blue
            border-radius: 8px
            span
                font-weight: bold
        img
            vertical-align: middle
            width: 16px    
            margin-right: 4px
        
        >*:not(:last-child)
            margin-right: 16px

    .sell
        color: goldenrod

    .penalty
        color: red