.base
    display: -webkit-flex
    justify-content: stretch

.mainarea
    width: calc(100vw - 300px)
    height: 100vh
    overflow-x: hidden
    overflow-y: scroll

    section
        background-color: white
        border: 1px solid black
        padding: 8px