.state
    text-align: center

    button
        padding: 4px 16px

    table
        margin: auto
        th,td
            border: 1px solid black
            padding: 4px
            font-weight: bold
        img
            vertical-align: middle
            width: 20px
            margin-right: 4px

        td:nth-child(4)
            color: red

        th:nth-child(6),td:nth-child(6)
            border: 2px solid black

        .red
            background-color: #ffd9d9
        .blue
            background-color: #d9f0ff
        .orange
            background-color: #fff2d9
        .purple
            background-color: #fad9ff
