.lobby
    width: 100vw
    height: 100vh
    padding: 24px

    div
        display: -webkit-flex

    a
        color: black
        text-decoration: none

    section
        padding: 8px
        width: 400px
        height: 400px
        border: 1px solid black
        border-radius: 8px

    a:not(:last-child)
        margin-right: 16px